.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}

.go-to-login-button
{
  vertical-align: middle;
  text-transform: none;
}

:host {
  ion-content {
      --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }
}

.paz {
  position: relative;
  z-index: 10;
}